.stats {
    background: #111;
    padding: 50px 8%;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stat-card {
    background: #1b1b1b;
    border-radius: 14px;

    padding: 24px;

    text-align: center;

    transition: .3s;
    cursor: pointer;
}

.stat-card:hover {
    transform: translateY(-6px);
    background: #242424;
}

.stat-card h2 {
    color: #ffb400;
    font-size: 34px;
    margin-bottom: 6px;
}

.stat-card p {
    color: white;
    font-size: 15px;
    margin: 0;
}

@media(max-width:768px) {

    .stats {
        padding: 40px 6%;
    }

    .stats-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:500px) {

    .stats {
        padding: 35px 20px;
    }

    .stats-container {
        grid-template-columns: 1fr;
    }

}